header {
  background-color: silver;
  /*border: 5px solid black;*/
  /*padding: 10px 5px 10px 30px;*/
  padding: 5% 5% 5% 8%;
}

header h2 a {
  text-decoration: none;
  color: black;
  float: left;
}

nav ul {
  list-style-type: none;
  display:inline-block;
  padding:1;
  text-align:center;
  /*text-decoration: none;*/
}

nav li { display:inline }



nav li a {
  text-decoration: none;
  white-space:nowrap;
}

nav { float: right;}

/*end of header */


/*main-title*/

#main-title {
   background-image:    url("../assets/hero.jpg");
   background-size:     cover;
   background-repeat:   no-repeat;
   background-position: center center;
   padding-top: 16%;
   padding-bottom: 16%;
   text-align:center;
   font-size: 700%
}

/*end of main-title */


/*main-content */

#main-content {
padding-left: 10%;
padding-right: 10%
}

#main-content h2 {
  text-align: center;
}

#main-content article {
  display:inline-block;
  border-style: solid;
  width: 226px;
  height: 276px;
  border-radius: 6%;
  vertical-align: top;
  padding: 0px;
}

#main-content h3 {
  /*border-style: solid;*/
  /*border-width: .1em;*/
  border-bottom: solid;
  text-align: center;
  padding-bottom: 8%
}

#main-content a {
  border-style: solid;
  color: black;
  border-radius: 10%;
  position: center;
}

#main-content p > a {
  text-align: center;
  border-style: solid;
  border-radius: 60px;
  margin: 20px;
  position: center;
  padding: 12px 54px;
}
