header {
  background-color: silver;
  border: 5px solid black;
  /*padding: 10px 5px 10px 30px;*/
  padding: 5% 5% 5% 8%;
}

header h2 a {
  text-decoration: none;
  float: left;
}

nav ul {
  list-style-type: none;
  display:inline-block;
  padding:1;
  text-align:center;
  /*text-decoration: none;*/
}

nav li { display:inline }



nav li a {
  text-decoration: none;
  white-space:nowrap;
}

nav { float: right;}

/*end of header */


/*main-title*/

#main-title {
   background-image:    url("../assets/hero.jpg");
   background-size:     cover;
   background-repeat:   no-repeat;
   background-position: center center;
   padding-top: 15%;
   padding-bottom: 15%;
}



/*add a border for the article sections */
